<div class="container">
  Curso Ok
</div>
<form>
  <div class="container"
       [formGroup]="form">
    <p>Entre com id do curso</p>
    <input type="text"
           name="curso"
           formControlName="curso" matInput>


    <button type="button" mat-button
            (click)="onClickLink()"
            name="btnComID"
            formControlName="btnComID"> Curso com Id
    </button>


    <button type="button"
            mat-button
            (click)="teste()"
            formControlName="btnSemID"> teste
    </button>

  </div>
</form>
